html,
body {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 18pt;
    color: #f3d7a1;
    font-weight: 600;
}

a {
    color: #FFF;
    font-size: 12px;
}

input[type='text']:focus,
input[type='text'] {
    color: #536890;
    border: none;
    border-bottom: 1px solid #FFF;
    font-family: monospace;
}

#feed {
    column-count: 2;
    column-gap: 20px;
    min-width: 800px;
}