@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html,
body {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 15pt;
    text-transform: uppercase;
    color: #f3d7a1;
    font-weight: 900;
}

h2 {
    font-size: 12pt;
    text-transform: uppercase;
    color: #f6dc94;
    font-weight: 700;
}

h3 {
    font-size: 30pt;
    text-transform: uppercase;
    font-weight: 700;
}

h4 {
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 300;
}

a {
    color: #FFF;
    font-size: 10pt;
    font-weight: 300;
}

a:hover {
    text-decoration: none;
    color:#FFF;
    font-weight: 500;
    transition: .5s;
}

li {
    list-style: none;
    padding: 5px 0;
}

ul {
    padding: 0;
    margin: 0;
}

input[type='text']:focus,
input[type='text'] {
    color: #536890;
    border: none;
    border-bottom: 1px solid #FFF;
    font-family: monospace;
}
