body {
    background: #313856;
}

h1 {
    color: #ff5f5f;
}

h2 {
    color: #ffffff;
}

h3 {
    color: #ffffff;
}

h4 {
    color: #b4b4b4;
}

a {
    color: #D9D9D9;
}

a:hover {
    color: #ffffff;
}
