body {
    background: #33353e;
}

h1 {
    color: #7cb1ff;
}

h2 {
    color: #ffffff;
}

h3 {
    color: #ffffff;
}

h4 {
    color: #b6b6b6;
}

a {
    color: #D9D9D9;
}

a:hover {
    color: #ffffff;
}
